*{
  margin: 0;
  padding: 0;
  font-family: "poppins" Sans-Serif;
  box-sizing: border-box;
}
/* Reset default styles */
/* Reset default styles */
/* Set default font family and size */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Set a background color and add padding to the body */
body {
  background-color: #080808;
  padding: 20px;
}
a {
  text-decoration: none;
  color: white;
}

/* Style the main heading */
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #ff004f;
}
/* game-stack */
#game-stack{
  padding: 30px 0;
}
.stack-list{
  display: flex;
  /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 85px ; 
}

.stack-list div{
  background: #262626;
  padding: 40px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.stack-list div ul {
  display: flex;
  justify-content: flex-start;
  border: 5px #262626;
  
  /* Move buttons to the left */
  margin-bottom: 20px;
  list-style: none;
  /* Remove bullets from the list */
}
.stack-list div ul button {
  border: 5px #262626;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.stack-list div ul button:hover {
  background-color: #0ef;
}
.stack-list div:hover{
  background: #ff004f;
  transform: translateY(-10px);
}




/* Add responsive styles for different screen sizes */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
  }

  button {
    font-size: 20px;
    padding: 8px 16px;
    border: 1px #262626;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 24px;
  }

  button {
    font-size: 18px;
    padding: 6px 12px;
    border: 1px #262626;
  }
}
@media only screen and (min-width: 601px) {
  .stack-list {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
  }
}
@media only screen and (min-width: 601px) {
  .stack-list div {
  width: 55%;
  font-size: 45px;
  max-width: 800px;
  margin: 0 auto;
  }
}


